@using Common

<div class="product-card">
    <img alt="@Product.Title" class="product-image"/>
    <h3>@Product.Title</h3>
    <p>@Product.Price.ToString("c")</p>
    <button background-color="#000" @onclick="AddToCart">Add to Cart</button>
</div>

@code {
    [Parameter] public Product Product { get; set; }
    [Parameter] public EventCallback<Product> OnAddToCart { get; set; }

    private async Task AddToCart()
    {
        await OnAddToCart.InvokeAsync(Product);
    }
}