@page "/Catalog"
@using Common
@using VShop.Components.Cards
@using VShop.Infrastructure.Abstractions.Services

<h2>Catalog</h2>
<div class="product-catalog">
    @foreach (var product in Products)
    {
        <ProductCard Product="product"/>
    }
</div>

@code
{
    [Inject] private IProductsService ProductsService { get; set; }

    private IEnumerable<Product> Products => ProductsService.GetProducts().Result.Value.Products;
}
