@page "/Catalog"
@using Common
@using VShop.Components.Cards
@using VShop.Infrastructure.Abstractions.Services

<h2>Catalog</h2>
<div class="product-catalog">
    @if (_getProductsError || _products is null)
    {
        <p>Some error ^(</p>
    }
    else
    {
        @foreach (var product in _products)
        {
            <ProductCard Product="product"/>
        }
    }
</div>

@code
{
    [Inject] private IProductsService _productsService { get; set; }
    private IEnumerable<Product>? _products;
    private bool _getProductsError;
    private bool _shouldRender;

    protected override bool ShouldRender() => _shouldRender;
    

    protected override async Task OnInitializedAsync()
    {
        await GetProducts();
    }

    private async Task GetProducts()
    {
        var response = await _productsService.GetProducts();
        if (response.IsError) return;
        
        _products = response.Value;

        _shouldRender = true;
    }
    
    
}
